footer {
  display: inline-block;
  width: 100%;
  background: darkgreen;
  float: left;
  margin: 10px 0px 0px 0px;

  p {
    text-align: right;
    margin-right: 15px;
    font-weight: bold;
    color: gold;
  }
}