header {
  width: 100%;
  background: darkgreen;
  float: left;

  h1 {
    font-size: 36px;
    margin: 10px;
    color: antiquewhite;
    text-shadow: 3px 2px 3px lightgrey;
    float: left;
  }

  img {
    margin: 7px;
    float: left;
  }
}
