nav {
  width: 96%;
  display: inline-block;
  margin: 10px 10px 10px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 2px 3px #333333;
  background: green;
  border-radius: 8px 8px 8px 8px;

  ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
  }

  li {
    display: inline;
    padding: 20px;
  }

  a {
    text-decoration: none;
    color: palegoldenrod;
    padding: 8px 8px 8px 8px;

    :hover {
      color: antiquewhite;
      background-color: darkgreen;
    }
  }
}

